@import "tailwindcss";

/* Header Styles */

header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 1rem 1.5rem;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0969bd;
  }

  nav {
    ul {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          text-decoration: none;
          color: #0969bd;
          transition: color 0.3s;

          &:hover {
            color: #2563eb; 
          }
        }
      }
    }
  }
}


/* Hero Cestion Styles */


/* === HERO SECTION === */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  background: #f5f7fa;
  gap: 50px;
}

/* LEFT CONTENT */
.hero__content {
  max-width: 50%;
}

.hero__title {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.2;
  color: #c62828; /* China red */
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

/* BUTTONS */
.hero__buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 22px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

/* PRIMARY BUTTON - RED */
.btn--primary {
  background: #c62828;
  color: white;
}

.btn--primary:hover {
  background: #a91f1f;
}

/* SECONDARY BUTTON - OUTLINE */
.btn--secondary {
  background: transparent;
  border: 2px solid #c62828;
  color: #c62828;
}

.btn--secondary:hover {
  background: #c62828;
  color: white;
}

/* RIGHT IMAGE */
.hero__image-box {
  flex: 1;
}

.hero__image {
  width: 100%;
  max-width: 480px;
  display: block;
  border-radius: 14px;
}



/* New Attivals Section Styles */


